@import "../../../../assets/global/global.scss";

.block {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #fff;
  z-index: 9999;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 5px #cecaca;
  @include flex(column, center, unset, nowrap, unset, 10px, 15px, 0);
  border-radius: 15px;
  transition: 0.5s;
  @media all and (max-width: 768px) {
    max-width: 88%;
  }
  i {
    cursor: pointer;
    align-self: flex-end;
  }
  img {
    border-radius: 15px;
    object-fit: cover;
  }
}

.block.closen {
  top: -200%;
}
